.ai-summary-button svg {
	fill: currentColor;
}

.ai-summary-popover {
	top: calc(anchor(bottom) + 20px);
	left: 50vw;
	translate: -50% 0;

	background: #eee;
	border: 1px solid #333;
	position: relative;
	margin: 0 !important;
	padding: 40px 40px 20px 20px;
	min-width: 50vw;
	min-height: 20vh;
}

.ai-summary-popover::backdrop {
}

.ai-summary-popover-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 5000000;
	min-width: 40px;
	align-items: center;
	justify-content: center;
}

.ai-summary-popover p {
	margin: 0 !important;
}
